body{
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.hid-box{
    background-color: white;
    top: 30%;
    position: relative;
    transition: all .3s ease-out;
    height: 100%;
    border-radius: 33px 33px 0px 0px;
}

.open{
    position: absolute;
    display: block;
    text-decoration: none;
    background-color: red;
    left: 25vw;
    top: 0;
    width: 50vw;
    border-radius: 5px;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}