.log{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 10px;
}

input{
    border: 1px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px 12px;
    width: 100%;
    margin-bottom: 20px;

}

button{
    font-size: .8rem;
    font-family: 'lora';
    padding: 16px 12px;
    border: none;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    background-color: #ffab5c;
}

.container{
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span{
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
}
.bottom{
    margin-top: 20px;
    /*position: absolute;*/
    bottom: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
}

.Link{
    text-decoration: none;
    color: #ff4d3c;
}

h1{
    position: relative;
}

h1::before{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    background-color: #ff4d3c;
    width: 50%;
    height: 2px;
}
h1::after{
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    background-color: #ff4d3c;
    width: 50%;
    height: 2px;
}
.logbtn{
    margin-top: 20px;
}
#remember{
    display: inline-block;
    border: 1px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 8px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-bottom: 5px;
}

#labelCheck{
    font-size: .8rem;
}